.mobile-menu {
	position: fixed;
	width: 100%;
	height: calc(100vh - 77px);
	background: #ffffff;
	z-index: 99;
	top: 77px;
	left: 0;
	transition: .3s;
	margin-left: -101%;
	padding-left: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: auto;

	.mobile_nav{
		max-width: 320px;
		margin: auto;
		.accordion{
			.accordion-item{
				border-bottom: 1px solid #F0F0F0;
				h2{
					button{
						font-size: 22px;
						font-weight: 700;
						font-family: $fontMulish;
						color: #000;
						background: none;
						border: none;
						padding: 20px 0;

						&:focus{
							border: none;
							box-shadow: none;
						}
						&::after{
							background-image: url(../img/plus.svg);
							background-size: 1.2rem;
						}
						&:not(.collapsed){
							&::after{
								background-image: url(../img/minus.svg);
							}
						}
					}
				}
				.accordion-collapse{
					border: none;
					.accordion-body{
						padding: 0;
						padding-bottom: 20px;
						.nav_item_wrp{
							.nav_item{
								margin-top: 30px;
								padding-left: 15px;
								ul{
									li{
										h5{
											color: $thmColor;
											margin-bottom: 15px;
										}
										a{
											line-height: 2;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.siteBar {
	margin-left: 0;
}
